/* Chat Widget SVG and animation styles */
.chatIconSvg {
  width: 48px;
  height: 48px;
}

.typingBubbleBase {
  animation-delay: 0ms;
}

.typingBubbleDelay1 {
  animation-delay: 150ms;
}

.typingBubbleDelay2 {
  animation-delay: 300ms;
}

.chatIconPath {
  fill: #008ad0;
}
